
:root {
  --color-primary:  #61c4e2;
  --color-secondary:#f276df;
  --color-tertiary: #3f51b5;
  --color-background: #f7f9fc;
  --color-accent: #2b2d42;
  --color-text-main: #1a1a1a;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-text-main);
  border-radius: 0.5rem;
}

body {
  font-family:
    "Gloria Hallelujah", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

a {
  text-decoration: none;
}
body {
  background-color: var(--color-tertiary);
}
