.toastSuccess,
.toastFailure {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-width: 12rem;
  height: 3rem;
  bottom: 7%;
  right: 5%;
  padding: 0.5rem;
  z-index: 999;
}

.toastSuccess {
  background-color: rgb(13, 199, 13);
}

.toastFailure {
  background-color: red;
}