.marker {
  position: absolute;
  background-color: inherit;
  border-radius: 50%;
  border: 5px dashed red;
  opacity: 0.7;
  width: 2rem;
  height: 2rem;

  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .marker {
    border: 3px dashed red;
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 768px) {
  
  .marker {
    border: 3px dashed red;
    width: 1rem;
    height: 1rem;
  }
}
