.gameEndPopup {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  min-height: 10rem;
  box-shadow: 0 0 10px 500vw rgba(0, 0, 0, 0.6);
  background-color: var(--color-secondary);
  border: none;
  box-shadow: 5px 5px 0 black;
  gap: 1rem;
  padding: 1rem;
}

.cancel {
  background-color: red;
  border: 2px solid red;
  color: white;
  height: 2rem;
  cursor: pointer;
}

.gameEndPopupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.error {
  color: red;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  max-width: 100%;
}

.save,
.cancel {
  min-width: 5rem;
}

.save {
  background-color: var(--color-tertiary);
  color: white;
  cursor: pointer;
}

.input {
  background-color: var(--color-tertiary);
  color: white;
}
