.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
}
.wrapper {
  position: relative;
}

.gameImage {
  border: 3px solid var(--color-secondary);
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  box-shadow: 5px 5px 0 var(--color-secondary);
  cursor: crosshair;
}

.gameImageContainer {
  position: relative;
}

.marker {
  position: absolute;
  background-color: inherit;
  border-radius: 50%;
  border: 5px dashed red;
  opacity: 0.7;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 1200px) {
  .marker {
    border: 3px dashed red;
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 768px) {
  .marker {
    border: 3px dashed red;
    width: 1rem;
    height: 1rem;
  }
}
