.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
   margin: 0.5rem;
 padding: 0.5rem;
}

.gameImage {
  width: 100%;
  height: 85vh;
  cursor: pointer;
  border-radius: 0.5rem;
}

