.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 1rem;
}

nav * {
  background-color: var(--color-secondary);
  padding: 0.5rem;
}

.timeAndLeaderboardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: inherit;
}

.charactersContainer {
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: inherit;
}

.characterNameFound {
  cursor: not-allowed;
  background-color: gray;
  color: white;
  text-decoration: line-through;
}
