.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem auto;
  padding: 1rem;
}

nav * {
  background-color: var(--color-secondary);
  padding: 0.5rem;
}

.timeAndLeaderboardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: inherit;
}

.charactersContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: inherit;
  width: 90vw;
  margin: auto;
}

.charactersContainer > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 15%;
  text-align: center;
  font-size: clamp(0.7rem, 1vw, 2.5rem);
}

.characterName {
  background-color: var(--color-secondary);
  padding: 0.5rem;
}

.characterNameFound {
  padding: 0.5rem;
  cursor: not-allowed;
  background-color: gray;
  color: white;
  text-decoration: line-through;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 999;
}

.selectedCharacter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 20rem;
  height: auto;
  border: 2px solid #0120ef;
  border-radius: 15px;
}
