.charactersPopup {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  width: 8rem;
  height: 11rem;
  box-shadow: 0 0 10px 500vw rgba(0, 0, 0, 0.6);
  background-color: var(--color-secondary);
  border: none;
  padding: 0.5rem;
  box-shadow: 5px 5px 0 black;
  gap: 0.1rem;
  border: 2px solid purple;
  transform: translateX(-50%);
}

.characterName {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--color-tertiary);
  background-color: var(--color-tertiary);
  padding: 0.5rem;
  color: white;
  text-align: center;
  font-size: 0.7rem;
  height: 16%;
}

.characterNameFound {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  border: 2px solid var(--color-tertiary);
  background-color: gray;
  padding: 0.5rem;
  color: white;
  text-align: center;
  text-decoration: line-through;
  font-size: 0.7rem;
  height: 16%;
}

.cancel {
  background-color: red;
  color: white;
  height: 16%;
  cursor: pointer;
  font-size: 0.8rem;
}

.charactersContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  gap: 0.2rem;
}




@media (max-width:1024px) {

}